{% extends "base.html" %}

{% block body%}
<div class = "container-field">
    <div class="container">
        <div class="row">
            {% csrf_token %}
            <table id="myTable" class="display text-center">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                    <tr id="user-{{user.id}}">
                        <td>{{ user.Name }}</td>
                        <td>{{ user.Age }} </td>
                        <td>{{ user.Position }}</td>
                        <td>{{ user.Office }} </td>
                        <td>
                        <a href="{% url 'crud:edit' user.id%}" class="text-center">  Edit  </a> 
                        , 
                        <button type="button" class="btn btn-delete" data-toggle="modal" data-target="#user-{{user.id}}">
                            Delete
                        </button>
                    </tr>
                    <!-- Modal -->
                        <div class="modal fade" id="user-{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete user {{user.Name}}?</h5>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        This process cannot be undone.
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'crud:delete' user.id %}" method="post" visible = "off">
                                            {% csrf_token %}
                                            <div class="text-center">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Delete user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/datatables.js' %}"></script>
{% endblock %}